# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Cours\WEB et bases de données - Xavier Chamberland\PHPStorm\AeroportLyonSaintExupery\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
